<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List User</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/">User</a>
          </li>
          <li class="main-header__item">
            <a class="active" href="/list-user">List User</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h3 class="main-label__list">List User</h3>
      <ul class="main-list__item-list">
        <li class="main-list__item">Abdurahman</li>
        <li class="main-list__item">Sky</li>
        <li class="main-list__item">Jack</li>
      </ul>
    </main>
  </body>
</html>
